


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--jQuery库-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!--jQuery Easy库 两个样式文件，两个js脚本-->
    <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <!-- <script src="~/EasyUI/jquery.min.js"></script>-->
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--自定义库-->
    <!--<link href="~/Css/userinfo.css" rel="stylesheet" />-->
    <script src="~/Userjs/processingajaxmsg.js"></script>
    <script src="~/Userjs/extension.js"></script>
    <script src="~/Userjs/showorders.js"></script>
    <script src="~/Scripts/xzUtil.js"></script>

    <style type="text/css">
        .New_Button, .Edit_Button, .Delete_Button, .Update_Button, .Cancel_Button {
            font-size: 11px;
            color: #1B3F91;
            font-family: Verdana;
            margin-right: 5px;
        }

        .caption {
            width: 80px;
            font-size: 11px;
            margin-left: 0px;
        }

        .editvalue {
            width: 160px;
        }

        /*td{
            width:80px;
        }*/
    </style>

</head>
<body class="easyui-layout" data-options="fit:true" style="width:100%;height:100%">

    <div data-options="region:'north',title:'过滤条件',split:true,border:false,collapsed:true" style="height:91px;">
        <form id="searchForm">
            <table class="tableForm datagrid-toolbar" style="width:100%;height:100%;">
                <tr>
                    <th>用户名</th>
                    <td>
                        <input name="userName" class="easyui-textbox" style="width:312px" />
                    </td>
                </tr>
                <tr>
                    <th>登录时间</th>
                    <td>
                        <input name="lbegin" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />至<input name="lend" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />
                        <a href="javascript:void(0);" id="btnQuery">查询</a>
                        <a href="javascript:void(0);" id="btnCancel">取消</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:false" style="overflow:hidden">
        <table id="datagrid"></table>
    </div>

    <!--订单信息-->
    <div id="detailWindow" style="display:none;overflow:auto">
        <div class="easyui-layout" data-options="fit:true" style="width:100%;height:100%">
            
            <div data-options="region:'north',title:'订单信息',split:true,border:false,collapsed:false" style="height:150px;">
                <form id="editform">
                    <input class="hidden editvalue" id="ID" style="display:none" />
                    <table style="width:690px;" border="0" cellspacing="0" cellpadding="1"> 
                        <tr>
                            <td>订单号:</td>
                            <td><input id="BillCode" class="easyui-textbox editvalue" /></td>
                            <td>订单日期:</td>
                            <td><input id="OrderDate" class="easyui-datebox editvalue" /></td>
                            <td>客户名称</td>
                            <td><input id="CustomerID" class="easyui-combogrid editvalue" /></td>
                        </tr>
                        <tr>
                            <td rowspan="1">备注:</td>
                            <td colspan="5">
                                <input id="Remark" class="easyui-textbox editvalue" data-options="multiline:true" style="width:100%;height:60px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @*<tr>
                            <td style="width:80px;">员工帐号：</td>
                            <td style="width:150px;"><input name="loginname" class="easyui-textbox editvalue" /></td>
                            <td style="width:80px;">姓名：</td>
                            <td style="width:150px;"><input name="name" class="easyui-textbox editvalue" /></td>
                            <td style="width:80px;">薪资：</td>
                            <td style="width:150px;"><input name="salary" class="easyui-textbox editvalue" /></td>
                        </tr>*@ 
                    </table>
                </form>
            </div>
            <div data-options="region:'south'" style="height:30px;">
                <a id="bSave" class="Update_Button easyui-linkbutton" >确定</a>
                <a id="bCancel" class="Cancel_Button easyui-linkbutton">返回</a>
            </div>
            <div data-options="region:'center',border:false" style="padding:0px;height:100px;">
                <table id="detaildatagrid"></table>
            </div>
        </div> 
    </div>


</body>
</html>
