
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Css/login.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Userjs/login.js"></script>  
    <script src="~/Userjs/processingajaxmsg.js"></script>
    <title>后台登录</title>
</head>
<body>
    <div id="login">
        <div id="loginForm">
            <p>用户帐号：<input type="text" id="userName"  /></p>
            <p>用户密码：<input type="password" id="passWord"   /></p>
        </div>
    </div>
    <!--
    <div id="signup">
        <a href="#" class="easyui-linkbutton">注册</a>
    </div>
        
    <div id="btn"> 
        <a href="#" class="easyui-linkbutton">登录</a>
    </div>
        -->
</body>
</html>
