

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>TabIndex</title>
    <style type="text/css">
        #divCenter{
            width:779px;
            height:389px;
            margin:0px auto;
            background-image:url(../../../../Images/index.jpg);
            background-repeat:no-repeat;
        }
    </style>
</head>
<body>
    <div id="divCenter">
        欢迎来到网上下单系统
    </div>
</body>
</html>