#divRepeat {
    background-image:url(../../Images/repeat.jpg);
    background-repeat:repeat-x;
    width:100px;
    height:79px;
    overflow:hidden;
}

#banner {
    background-image:url(../../Images/banner.jpg);
    background-repeat:no-repeat;
    width:681px;
    height:79px;
    float:right;
    overflow:hidden;
}

.fontBig{
    font-size:12px;
    font-weight:bold;
    line-height:20px;
    color:blue;
}

.fl{
    float:left;
}

.fr{
    float:right;
}