
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Css/login.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Userjs/index.js"></script>
    <script src="~/Userjs/processingajaxmsg.js"></script>
    <title>网上下单系统</title>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height:82px;" background-color:#E0ECFF>
        <div id="divRepeat">
            <div id="banner">

            </div>
        </div>
    </div>
    <div data-options="region:'west',title:'菜单导航',split:true" style="width:180px;">
        <ul id="menuTree"></ul>
    </div>
    <div data-options="region:'center'" style="padding:0px;background:#eee;">
        <div id="contentTab"></div>
    </div>
</body>
</html>
